<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport", content="width=device-width", initial_scale="1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Suggested Training Paces</title>
    </head>
    <body>
        <main>
            Suggested Training Paces Calculator
        </main>
        <table>
            <tr>
                <td>
                    Race Distance (m)
                </td>
            </tr>
        </table>
    </body>
</html>